.section{
    margin: 100px;
}

.box-wrap {
    font-size: 0;
}

.box {
    display: inline-block;
    width: 300px;
    font-size: 16px;
}

.box1 {
    background-color: rgb(255, 209, 217);
}

.box2 {
    opacity: 0;
}

.box3 {
    background-color: rgb(196, 121, 196);
}