section{
    margin: 100px;
}

h1{
    text-align: center;
    font-size: 40px;
    border-bottom-width: 4px;
    border-bottom-color: #f00;
    border-bottom-style: solid;   
}

.box {
    width: 300px;
    height: 300px;
    background-color: pink;

    /* inline邊框 */

    /* border-top-width: 6px;
    border-right-width: 12px;
    border-bottom-width: 20px;
    border-left-width: 8px; */
    /* border-width: 6px 10px 20px 8px;
    border-top-color: red;
    border-right-color: green;
    border-bottom-color: blue;
    border-left-color: orange;
    border-style: solid; */
    /* border-radius: 100%; */
    border: 4px solid #f00;

    /* outline邊框 */

    outline: 8px solid gray;
    outline-offset: 20px;   /* 往外20px在開始outline */
}

/* 點擊輸入框從灰色變成紅色 */

#input {
    /* 第一種方法 */
    /* outline: 2px solid gray;
    border-radius: 4px; */

    border: 2px solid gray;
    border-radius: 4px;
}

#input:focus {
    /* 第一種方法 */
    /* outline: 2px solid red; */
    
    border: 2px solid red;
    outline: none;
}

.list {
    /* list-style-image: url(../../2510/1015/images/cat.jpg); */
    list-style-position: inside;
    list-style-type: "⭐";
}