section {
  margin: 100px;
}

.card {
  position: relative;
  width: 300px;
  background-color: orange;
}

.card-img {
  aspect-ratio: 4 / 3;
  width: 100%;
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

.sale {
  position: absolute;
  background-color: red;
  padding: 5px;
  color: white;
  left: -10px;
  top: 20px;
}

.discount {
  position: absolute;
  background-color: rgb(255, 247, 0);
  padding: 5px;
  right: 0;
}

.line-wrap {
  margin: 50px;
}

.line {
  border: 4px solid blue;
  padding: 100px;
}

/* 第一題 */

.middle {
  position: relative;
}

.inner {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 第二題 */

.outer1 {
  position: relative;
}

.inner1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.post {
  max-width: 600px;
  margin: 0 auto;
  background-color: #aaa;
  position: relative;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #fff9b1;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
}
