:root {
  --default-color: green;
  --aaa: 16px;
}

section {
  margin: 100px;
}

.box {
  background-color: #faa;
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* visibility: hidden; */
  /* opacity: 0; */
  box-shadow: 10px 10px grey;
  border-radius: 10px;
}

.object {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.company {
  max-width: 1200px;
  padding: 16px 32px;
  margin: 0 auto;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(25% - 15px);
  border: 1px solid rgb(202, 202, 202);
  padding: 16px;
  border-radius: 8px;
}

.card a {
  text-decoration: none;
}

.card-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.card-img-wrap {
  width: 60px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border: 1px solid #aaa;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-tags {
  margin: 16px 0;
  display: flex;
}

.tag {
  background-color: white;
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: rgb(63, 63, 63);
  font-size: 14px;
}

.card-btn {
  display: inline-block;
  width: 100%;
  color: orange;
}
