.list {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #aaa;
}

.list li {
  width: 100px;
  height: 100px;
  background-color: #faa;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
  position: relative;
  z-index: 10;
}

.list .item12 {
  background-color: blue;
  position: relative;
  bottom: 50px;
  left: 100px;
  z-index: 1;
}

.list .item13 {
  background-color: red;
  position: relative;
  bottom: 50px;
  left: 50px;
}
