header {
  height: 68px;
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.mask {
  position: fixed;
  /* 1 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* 2 */
  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.5;
}

section {
  margin-top: 68px;
  padding: 0 50px;
  /* margin: 100px; */
}

.btn {
  padding: 20px;
  background-color: #ffa5d0;
}

.btn:hover {
  scale: 1.2;
}

.box {
  position: fixed;
  width: 300px;
  height: 300px;
  background-color: #ffa;
  opacity: 0.9;
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
