* {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
}

.navbar {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links li a {
  padding: 90px 0;
  font-size: 15px;
  color: #505563;
}

.nav-links li a:hover {
  color: #ff6e06;
}

main {
  text-align: center;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  background-color: #da3743;
  border-radius: 50px;
  padding: 5px 25px;
  color: white;
  font-size: 18.5px;
  font-weight: 700;
}

.nav-btn img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  object-fit: contain;
}

main {
  margin-top: 50px;
  width: 100%;
}

.hero {
  margin: 0 auto;
}

.hero-intro {
  width: 100%;
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_%E9%A6%96%E5%9C%96.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-intro-content {
  max-width: 1200px;
  padding: 150px 20px;
  margin: 0 auto;
  text-align: left;
}

.hero-intro-content h3 {
  font-size: 44px;
  font-weight: 700;
}

.hero-intro-content h4 {
  font-family: "arial black", sans-serif;
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 700;
}

.hero-intro-content p {
  font-size: 16px;
  line-height: 2;
  color: #595959;
  margin-bottom: 60px;
}

.hero-intro-btn {
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #064c8c;
  color: white;
  font-size: 13px;
  font-weight: 700;
}

.hero-global {
  width: 100%;
  background-image: url("https://inline.company/wp-content/uploads/2023/12/New-official-website_v2_country.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-global-content {
  height: 550px;
  font-size: 17px;
  padding: 120px 0;
}

.function-intro h3 {
  font-size: 26px;
  color: #ec6300;
  font-weight: 700;
}

.function-intro h2 {
  font-family: "arial black", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.function-manage {
  display: flex;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.function-manage-img {
  width: 50%;
}

.function-item {
  display: flex;
}

.partner {
  margin: 0 auto;
  max-width: 1160px;
}

.partner h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 60px;
}

.partner-bar {
  border-bottom: 1px solid rgb(240, 242, 247);
}

.partner-bar .menu {
  display: inline-block;
  padding: 14px 20px;
  cursor: pointer;
}

.partner menu {
  padding: 14px 20px;
}

.join {
  width: 100%;
  padding-bottom: 50px;
  background-image: url(https://inline.company/wp-content/uploads/2024/07/New-official-website_v2_form_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.join h3,
.join h4,
.join h5,
.join p {
  margin-bottom: 20px;
}

.join-info h3 {
  font-size: 29px;
  font-weight: 700;
  color: #ff6600;
}

.join-info h5 {
  font-size: 18px;
  margin: 50px 0 100px 0;
}

.join-info h4 {
  font-size: 28px;
  font-weight: 700;
}

.join-form {
  width: 760px;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50px;
}

.join-form form {
  max-width: 480px;
  margin: 0 auto;
}

.join-form h4 {
  font-size: 26px;
  font-weight: 700;
  color: #064c8c;
}

input,
select {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px 12px;
  line-height: 1.6;
  border: 1px solid #dddddd;
}

form .btn-form {
  padding: 14px 20px;
  margin: 20px 0;
  background-color: #ec6337;
  color: white;
  width: 120px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.more h3 {
  margin: 50px 0;
  font-size: 32px;
  font-weight: 700;
}
.more > a {
  font-size: 20px;
  font-weight: 700;
  background-color: #064c8c;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
}

.more-wrap {
  height: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  column-gap: 200px;
}

.more-wrap h4 {
  font-size: 21.33px;
  font-weight: 700;
  margin-bottom: 20px;
}

.more-wrap span {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.more-wrap p {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 20px;
}

.more-free a {
  font-size: 13px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ec6337;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
}

.divide {
  border-left: 1px solid gray;
}

footer {
  width: 100%;
  background-color: #252932;
  color: white;
}

.footer-container {
  max-width: 1200px;
  padding: 60px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: left;
}

.footer-address {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  width: 30%;
}

.footer-address p {
  font-size: 14px;
  font-weight: 500;
}

.footer-address span {
  line-height: 1;
  font-size: 12.3px;
  font-weight: 400;
}

.footer-title {
  font-size: 13px;
  margin-bottom: 20px;
}

.footer-pages {
  display: flex;
  flex-direction: column;
}

.footer-pages a {
  width: 260px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #666666;
}

.footer-wrap {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.footer-contact p {
  margin-bottom: 20px;
}

.footer-language {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-language a {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #666666;
}

.footer-social {
  width: 260px;
}

.copy-write {
  color: #9ea6b7;
  font-size: 15px;
  background-color: #191c23;
  padding: 15px 0 13px;
}

.copy-write-wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
