section{
    margin: 100px;
}

/* flex練習 */

.box-wrap {
    display: flex;
    /* background-color: rosybrown; */
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 232, 182);
}

/* display練習 */

.products {
    margin: 10px 0;
    font-size: 0px;
}

.title{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.card {
    display: inline-block;
    font-size: 16px;
    width: 300px;
    margin: 10px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: 1px solid gray;
    vertical-align: top;
    text-align: center;
    /* 超過卡片的東西都隱藏 */
    overflow: hidden;
}

.card-img  img{
    width: 100%;
    height: 100%; 
    aspect-ratio: 4 / 3;
    object-fit: cover;
    /* 讓圖片只有上面有圓角 */
    /* border-radius: 8px 8px 0px 0px; */
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card-title, .card-price {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    text-align: left;
    margin: 10px 0;
}

.card-price {
    color: rgb(219, 0, 0);
}

.card-tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    background-color: lightgray;
    border-radius: 4px;
}

.btn {
    width: 100%;
    background-color: rgb(94, 190, 255);
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
}