section {
  margin: 50px;
  background-color: #eee5e5;
}

.block {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
}

.item {
  background-color: #ffa;
}

.item1 {
  background-color: #faa;
  /* grid-column: 1 / 6;
  grid-row: 1 / 3; */

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  background-color: #afa;
  /* grid-column: 2 / 3; */
  /* grid-row: 2 / 3; */
  grid-column-start: span 4;
}

.wrap {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  justify-items: center;
}

.box {
  font-size: 50px;
  height: 100px;
}

.box1 {
  background-color: #ffa;
}

.box2 {
  background-color: #faf;
  /* justify-self: stretch;
  align-self: end; */
  margin: auto;
}

.box3 {
  background-color: #afa;
}

.container {
  margin: 100px;
  /* margin: 100px auto; */
  background-color: #eee5e5;
  height: 600px;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 50% 50%; */
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px auto 100px;
}

header {
  grid-area: header;
  background-color: #aaf;
}

aside {
  grid-area: sidebar;
  background-color: #faf;
}

main {
  grid-area: main;
  background-color: #ffa;
}

footer {
  grid-area: footer;
  background-color: #afa;
}

.card {
  margin: 0 auto;
  padding: 20px;
  /* width: 300px; */
  background-color: lightyellow;
  border: 1px solid darkgoldenrod;
}

.img-wrap {
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}

.img-wrap:hover .card-img:nth-of-type(2) {
  left: 0;
}

.img-wrap:hover .hint {
  bottom: 0;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
  transition: all 1s ease;
}

.hint {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  background-color: #fa0;
  color: white;
  text-align: center;
  transition: all 1s 1s ease;
}
