section {
  margin: 100px;
  background-color: #eee5e5;
}

.card {
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  background-color: lightyellow;
}

.img-wrap {
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}

.img-wrap:hover .card-img:nth-of-type(2) {
  left: 0;
}

.img-wrap:hover .hint {
  bottom: 0;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
  transition: all 1s ease;
}

.hint {
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  background-color: #fa0;
  color: white;
  text-align: center;
  transition: all 1s 1s ease;
}

.box {
  width: 300px;
  height: 300px;
  background-color: #aaf;
  font-size: 36px;
  transition-property: background-color, border-radius;
  transition-duration: 2s, 3s;
  transition-delay: 3s, 0s;
  transition-timing-function: ease-in;
}

.box:hover {
  background-color: #fa0;
  border-radius: 100%;
  transition-property: background-color, border-radius;
  transition-duration: 2s, 3s;
  transition-delay: 0s, 2s;
}
