section {
  margin: 100px;
}

.icon {
  color: orange;
}

.card-wrap {
  display: flex;
  background-color: #aaa;
}

.card {
  height: 100px;
  /* width: 500px; */
  /* flex-basis: 200px; */

  /* 均分三塊 第一種方法 */
  /* width: 33.33%; */

  /* 均分三塊 第二種方法 */
  /* flex-basis: 33.33%; */

  /* 均分三塊 第三種方法 */
  flex-basis: 0;
  flex-grow: 1;
}

.card1 {
  /* flex-grow: 2; */
  background-color: #aff;
}

.card2 {
  /* flex-grow: 1; */
  background-color: #ffa;
}

.card3 {
  /* flex-grow: 1; */
  background-color: #faf;
}

.box-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(189, 237, 189);
  height: 600px;
  align-items: top;
}

.box {
  width: 300px;
}

.box1 {
  order: 3;
  background-color: #faf;
}

.box2 {
  background-color: #fa0;
  order: 2;
}

.box3 {
  order: 1;
  background-color: #aaf;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
